<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{imageUrl}}" alt="">
    <h1>anjay wkwkkw</h1>
    
    <form action="/proses" method="POST">
        <input type="hidden" name="imageUrl" value="{{imageUrl}}">
        <input type="submit" value="Process">
      </form>    
      <a href="/">Scan again</a>
</body>
</html>